@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "tailwindcss";

@layer utilities {
  .font-space-mono {
    font-family: "Space Mono", monospace;
  }
}
@theme {
  --color-custom-gray-400: hsl(184, 14%, 56%);
  --color-custom-gray-200: hsl(185, 41%, 84%);
  --color-custom-gray-500: hsl(186, 14%, 43%);
  --color-custom-green-900: hsl(183, 100%, 15%);
  --color-custom-green-400: hsl(172, 67%, 45%);
  --color-custom-gray-50: hsl(189, 47%, 97%);
}
